#root {
    max-width: 1080px;
    margin: 0 auto;
    width: 50%;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
}

.info {
    text-align: center;

}

.info > img {
    width: 200px;
    margin: 0 auto;
}


/* Skills.css */
.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.skill {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db; /* You can choose your desired background color */
    color: #fff; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}


/* Portfolio.css */
.portfolio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-item {
    text-align: center;
    margin: 10px;
}

.rounded-photo {
    border-radius: 50%;
    width: 150px; /* Adjust the width of the photos */
    height: 150px; /* Adjust the height of the photos */
    object-fit: cover; /* Ensure the photo covers the entire container */
    border: 2px solid #3498db; /* Add a border for a neat look */
}

.portfolio-item p {
    margin-top: 10px;
}
